<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>InfinitContentServlet</servlet-name>
        <servlet-class>content.InfinitContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Voto</servlet-name>
        <servlet-class>content.Voto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Post</servlet-name>
        <servlet-class>content.Post</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminOps</servlet-name>
        <servlet-class>controlador.adminOps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consOps</servlet-name>
        <servlet-class>controlador.consOps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteServlet</servlet-name>
        <servlet-class>controlador.ReporteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userOps</servlet-name>
        <servlet-class>controlador.userOps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pubAServ</servlet-name>
        <servlet-class>content.pubAServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InfinitContentServlet</servlet-name>
        <url-pattern>/InfinitContentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Voto</servlet-name>
        <url-pattern>/Voto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Post</servlet-name>
        <url-pattern>/Post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminOps</servlet-name>
        <url-pattern>/adminOps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consOps</servlet-name>
        <url-pattern>/consOps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteServlet</servlet-name>
        <url-pattern>/ReporteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userOps</servlet-name>
        <url-pattern>/userOps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pubAServ</servlet-name>
        <url-pattern>/pubAServ</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
